@mixin mobile-md {
    @media screen and (min-width:500px) and (max-width:768px){
        @content;
    }
}
@mixin mobile-sm {
    @media screen and (min-width:150px) and (max-width:425px){
        @content;
    }
}

.about-page{
    width: 80%;
    margin: 0 auto;
    @include mobile-sm(){
        width: 100%;
    }

    img{
        height: 50%;
        width: 100%;
        object-fit: cover;
       
    }

    .about-us-info{
        margin: 2em 0;
        @include mobile-sm(){
            padding: 1em;
        }

        .title{
            text-align: center;
            text-transform: uppercase;
            color: black;
            font-weight: bold;
            font-family: 'Josefin Sans', sans-serif !important;
        }
        p{
            line-height: 1.7;
            padding: 0 1.5em;

            @include mobile-sm(){
                padding:0 .5em;
            }
        }
    }
}
