
@mixin flex($param){
    display: flex;
    justify-content: $param;
    align-items: center;
}


@mixin mobile-md {
    @media screen and (min-width:500px) and (max-width:768px){
        @content;
    }
}
@mixin mobile-sm {
    @media screen and (min-width:150px) and (max-width:425px){
        @content;
    }
}

.cartpage{
    background: white;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;

    @include mobile-sm(){
        padding: 0em;
    }

    .emptycart{
        text-align: center;
        font-family: 'Josefin Sans', sans-serif !important;
        font-weight: bold;
        font-size: 1.2em;
        margin: 4em 0;
    }

    .clearall{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            background-color: black;
            color: white;
            border: none;
            width: 30%;
            padding: .5em 0;
            cursor: pointer;
        }
    }

    .cartItem{
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1em;
        box-shadow: 1px 1px 1px rgb(114, 112, 112);
        @include mobile-sm(){
            display: flex;
            flex-direction: column;
        }

        .group-cart{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mobile-sm(){
                display: flex;
            }

            img{
                width: 5em;
                height: 5em;
            }

            .info--cart{
                h3{
                    text-align: center;
                    font-family: 'Josefin Sans', sans-serif !important;
                    font-weight: bold;
                    font-size: 1.2em;
                }
                p{
                    text-align: left;
                    font-family: 'Josefin Sans', sans-serif !important;
                    font-weight: bold;
                    font-size: 1em;
                    text-transform: capitalize;
                    color: gray;
                }
            }
        }
        .btns-form{
            display: flex;
            .quantity{
                border: 1px solid black;
                width: 4em;
                margin: 0 .5em;
                text-align: center;
                padding: 0 .5em;
                @include mobile-sm(){
                    width: 2em;
                }
            }
            button{
                padding: 0 .5em;
                background: #E4811C;
                color: white;
                border: none;
                @include mobile-sm(){
                    padding: 0 .5em;
                    background: #E4811C;
                    color: white;
                    border: none;
                }
            }
        }
        
        
       
        
    }
    .total{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1em;
        box-shadow: 1px 1px 1px rgb(114, 112, 112);

        h3{
            text-align: left;
            font-family: 'Josefin Sans', sans-serif !important;
            font-weight: bold;
            font-size: 1em;
        }
        p{
            text-align: left;
            font-family: 'Josefin Sans', sans-serif !important;
            font-weight: bold;
            font-size: 1em;
        }
    }
    .checkout{
        display: flex;
        align-items: center;
        justify-content: center;

        button{
            border: none;
            color: white;
            background-color: #E4811C;
            padding: .5em 1em;
            text-transform: uppercase;

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
  


